.kasa-header {
    margin: 1rem auto;
    max-width: 85%;
	padding: 32px;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.kasa-logo {
	width: 200px;
}

.nav-links {
    display: flex;
    gap: 3rem;
    font-size: 34px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links a:hover {
    color: gray;
}

.nav-links .active-link {
    text-decoration: underline;
}

@media screen and (max-width: 375px) {

    .kasa-header {
        margin: 15px auto;
        padding: 5px;
    }

    .kasa-logo {
        width: 100px;
    }

    .nav-links {
        font-size: 12px;
        text-transform: uppercase;
        gap: 15px;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {

    .kasa-header {
        margin: 15px auto;
        padding: 5px;
    }

    .kasa-logo {
        width: 145px;
    }

    .nav-links {
        font-size: 14px;
        text-transform: uppercase;
        gap: 15px;
    }
}