.container {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1240px;
}

.housings-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    background-color: #F6F6F6;
    padding: 50px;
    border-radius: 25px;
    width: 100%;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        padding: 4rem;
        margin: 0 20px 0 20px;
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        background: none;
        padding: 0px;
        /* margin: 0 10px 0 10px; */
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
        gap: 20px;
        background: none;
        padding: 0px;
        margin: 0 10px 0 10px;
    }

    @media (max-width: 375px) {
        grid-template-columns: 1fr;
        gap: 20px;
        background: none;
        padding: 0px;
        margin: 0 10px 0 10px;
    }
}