.container {
    padding: 20px;
    text-align: center;
    /* margin: 0 auto; */
    /* max-width: 80%; */
    display: flex;
    justify-content: center;
}

.housings-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;

    background-color: #F6F6F6;
    padding: 4rem;
    border-radius: 25px;
}

@media (max-width: 768px) {
    .housings-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .housings-grid {
        grid-template-columns: 1fr;
    }
}

.housing-card {
    width: 340px;
    height: 340px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}

.housing-card:hover {
    transform: scale(1.05);
}

.housing-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.housing-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}