.accommodation {
    margin: 5rem auto 0;
    max-width: 1240px;
    min-height: 70vh;

    @media screen and (min-width: 760px) {
        margin: 2rem auto;
        padding: 1rem;
    }

    @media screen and (max-width: 480px) {
        margin: 2rem auto;
        padding: 1rem;
    }
}

.carousel {
    margin-bottom: 2rem;
}

.accommodation-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    @media screen and (max-width: 480px) {
        flex-direction: column;
        margin-top: 1rem;
    }
}

.accommodation-infos {
    display: flex;
    flex-direction: column;
}

.accommodation-title {
    color: #FF6060;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.accommodation-location {
    font-size: 1rem;
    color: #555;
}

.tags-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.accommodation-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2rem;
    gap: 1rem;
    flex-basis: 1px;
    text-align: right;

    @media screen and (max-width: 480px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 2rem;
    }
}

.collapses-container {
    display: flex;
    gap: 5rem;

    @media screen and (max-width: 480px) {
        flex-direction: column;
        gap: 1px;
    }
}

.collapse-style-list {
    list-style: none;
    padding: .5rem;
}