.accommodation {
    margin: 5rem auto 0;
    max-width: 1400px;
}

.carousel {
    margin-bottom: 2rem;
}

.accommodation-container {
    display: flex;
    justify-content: space-between;
}

.accommodation-infos {
    display: flex;
    flex-direction: column;
}

.accommodation-title {
    color: #FF6060;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.accommodation-location {
    font-size: 1rem;
    color: #555;
}

/* .tag-rating {
    display: flex;
    justify-content: space-between;
} */

.tags-container {
    display: flex;
    gap: 0.5rem;
}

.accommodation-profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.collapses-container {
    display: flex;
    gap: 5rem;
}

.collapse-style-list {
    list-style: none;
    padding: .5rem;
}