.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 209px;
    text-align: center;
}

/* .footer-container {

} */

.footer-logo {
    margin-bottom: 1rem;
}

.footer-text {
    color: white;
}