.banner-container {
    margin: 5rem auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;
    max-width: 85%;
    height: 223px;
}

.banner {
    width: 100%;
    height: auto;
    filter: brightness(0.6);
}

.banner-text {
    position: absolute;
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    max-width: 90%;
}

@media screen and (max-width: 425px) {

    .banner-container {
        margin: 2rem auto;
        height: 111px;
    }

    .banner-text {
        font-size: 20px;
    }

}